[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "*"
pypdf4 = "*"
langchain = "*"
python-dotenv = "*"
chromadb = "*"
openai = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.12"
